<section class="card">
  <a href="/painting/{{id}}">

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <h5>{{title}}</h5>
      <p>By: {{artist}}</p>
    </div>
  </a>
</section>


<script src='../public/js/click-artwork.js'></script>

{{!-- TODO: Fix img src
TODO: Fix a tag --}}