  {{>navbar}}

<div class="top-back"></div>
<div class="black-box"></div>
<div class="bottom-back"></div>

<section class="card-container">

  {{#each artworks as |artwork|}}

  <section class="card">
    <a href="/artwork/{{artwork.id}}" class='card-click'>
    <div class="shading"></div>
      <div class="card-body">
        <img src="{{artwork.img_path}}" alt="{{artwork.description}}">
        <h5>{{artwork.title}}</h5>
        <p>By {{artwork.artist}}</p>
      </div>
    </a>
  </section>

  {{/each}}

</section>

<script src='../public/js/click-artwork.js'></script>